body {
  margin: 0;
  padding: 0;
  font-family: "Wendy One";
  background: #f7cdbf;
  background-image: url("image/bg_mobile_why.png");
}

a {
  color: #642c99;
}

p {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background: #fae0cf;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fcefd2;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-family: lato;
  font-weight: bold;
  font-size: 10px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 21px 18px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  display: block;
  position: relative;
  transition: background 0.2s ease-out;
  width: 23px;
  height: 4px;
  border-radius: 10px;
  background-color: #642c99;
  margin-top: 1px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  border-radius: 10px;
  background-color: #642c99;
}

.header .menu-icon .navicon:before {
  top: 5px;
  width: 15px;
  margin-top: 1px;
}

.header .menu-icon .navicon:after {
  top: -5px;
  width: 30px;
  height: 4px;
  margin-top: -1px;
  border-radius: 10px;
  background-color: #642c99;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  width: 20px;
  margin-top: -1px;
  background-color: #642c99;
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  width: 20px;
  background-color: #642c99;
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header .logo {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 34px;
  height: 35px;
  margin-top: 15px;
  margin-right: 24px;
  background-image: url("image/icon/shopping-car.png");
  background-repeat: no-repeat;
  text-decoration: none;
}

.number_list_shopping_car {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 11px;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: #fcefd2;
}

.header .logo:before {
  display: none;
}

/*************** CONTAINER TOTAL ****************/

.container_total {
  max-width: 337px;
  margin: 0 auto;
  padding-top: 100px;
}

/*********** CONTAINER TITLE *********/

.container_title_main_content {
  font-size: 60px;
  color: #642c99;
  line-height: 63px;
}

.container_caption_main_content {
  margin-top: 37px;
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  color: #642c99;
}

.container_button_shop_now {
  display: flex;
  justify-content: center;
}

.button-shop-now {
  margin-top: 46px;
  width: 206px;
  height: 43px;
  background: #642c99;
  border-radius: 8px;
  border: none;
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #fbfac9;
  cursor: pointer;
}

.container_image_main_content {
  display: block;
  margin-top: 50px;
}

.container_imagetwo_main_content {
  display: none;
}

.image_main_content_desktop {
  display: none;
}

.image_main_content_375 {
  margin-top: 47px;
}

.image_main_content_960 {
  display: none;
}

.image_main_content_1440 {
  display: none;
}

.container_total_image_subtitle {
  display: flex;
  justify-content: center;
}

.container_image_subtitle_mobile {
  display: flex;
  justify-content: center;
}

.container_image_subtitle_tablet {
  display: none;
}

.container_image_subtitle_desktop {
  display: none;
}

.container_total_information > div {
  margin: 49px 0 0 0;
}

.container_information_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #642c99;
}

.container_information_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #642c99;
}

.container_information_three {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #642c99;
  margin: 49px 0 0 0;
}

.container_text_information {
  margin: 29px 0 0 0;
}

.container_total_information_tablet {
  display: none;
}

.container_title_message_shop {
  font-size: 60px;
  line-height: 63px;
  color: #642c99;
  margin: 110px 0 0 0;
}

.container_text_message_shop {
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  color: #642c99;
  margin: 81px 0 0 0;
}

.container_button_message_shop {
  width: 206px;
  height: 43px;
  background: #642c99;
  border-radius: 8px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fbfac9;
  text-transform: uppercase;
  margin: 37px 0 0 0;
  cursor: pointer;
}

.container_unicorn_mobile {
  position: absolute;
  margin: 34px 0 0 235px;
}

.container_cake_mobile {
  position: absolute;
  margin: -30px 0 0 120px;
}

.container_unicorn_desktop {
  display: none;
}

.container_cake_desktop {
  display: none;
}

/****** CONTAINER FOOTER ******/

.container_total_footer {
  margin: 212px 0 0 0;
}

.container_title_footer {
  margin-top: 54px;
  font-size: 32px;
  line-height: 34px;
  color: #fdefd1;
}

.container-inbox {
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #fdefd1;
  margin-top: 59px;
}

.container_input {
  width: 335px;
  height: 43px;
  border: 2px solid #fdefd1;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  padding-left: 24px;
  margin-top: 29px;
}

::-webkit-input-placeholder {
  color: #fdefd1;
}

.container_input_button {
  width: 335px;
  height: 43px;
  background: #fdefd1;
  border-radius: 8px;
  border: none;
  font-family: Lato;
  font-size: 16px;
  text-transform: uppercase;
  color: #642c99;
  margin-top: 29px;
  margin-bottom: 70px;
}

.container_links_from_page a {
  display: flex;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  margin-top: 39px;
  color: #fdefd1;
  text-decoration: none;
}

.container_links_useful a {
  display: flex;
  color: #fdefd1;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  margin-top: 39px;
  text-decoration: none;
}

.container-copyright {
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 88px;
  color: #fdefd1;
}

.container_copyright_1440 {
  display: none;
}

/************ CONTAINER ADJUSTE FOOTER ***********/

.container_adjuste_color_footer {
  height: 58px;
  margin-top: -54px;
  background-color: rgb(93 51 148);
}

/*************** MEDIA ONLY 960 **************/

@media only screen and (min-width: 960px) {
  body {
    background-image: url("image/bg_why_tablet.png");
  }

  .header li {
    float: left;
  }

  .header li a {
    font-size: 18px;
    font-weight: normal;
    border: none;
  }

  .header li a:hover {
    font-weight: bold;
    font-size: 20px;
  }

  .header .menu {
    clear: none;
    float: left;
    max-height: none;
    padding-left: 46px;
  }

  .header .menu-icon {
    display: none;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fae0cf;
  }

  .container_total {
    max-width: 882px;
    margin: 0 auto;
    padding-top: 224px;
  }

  .container_main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_imagetwo_main_content {
    display: flex;
    justify-content: space-between;
    margin: -100px 0 0 0;
  }

  .container_title_main_content {
    font-size: 100px;
    line-height: 105px;
    width: 770px;
    text-align: center;
  }

  .container_caption_main_content {
    width: 500px;
  }

  .container_image_main_content {
    display: none;
  }

  .image_main_content_desktop {
    display: none;
  }

  .container_total_image_subtitle {
    display: flex;
    justify-content: center;
  }

  .container_image_subtitle_mobile {
    display: none;
  }

  .container_image_subtitle_desktop {
    display: none;
  }

  .container_image_subtitle_tablet {
    display: block;
  }

  .container_total_information_tablet {
    display: flex;
  }

  .container_invert_information {
    display: flex;
    flex-direction: row-reverse;
  }

  .container_total_information > div {
    display: none;
  }

  .container_information_one {
    align-items: flex-start;
    text-align: initial;
    margin: -240px 0 0 0;
  }

  .container_information_two {
    align-items: flex-start;
    text-align: initial;
    margin: -126px 0 0 -64px;
  }

  .container_information_three {
    align-items: flex-start;
    text-align: initial;
    margin: 70px 0 0 -170px;
  }

  .container_total_message_shop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_title_message_shop {
    text-align: center;
    font-size: 100px;
    line-height: 105px;
    margin: 199px 0 0 0;
  }

  .container_unicorn_mobile {
    position: absolute;
    margin: -24px 0 0 152px;
  }

  .container_cake_mobile {
    position: absolute;
    margin: -46px 0 0 -172px;
  }

  .container_unicorn_desktop {
    display: none;
  }

  .container_cake_desktop {
    display: none;
  }

  .container_text_message_shop {
    text-align: center;
    width: 600px;
  }

  .container_total_footer {
    margin: 354px 0 0 0;
  }

  .container_total_title_footer {
    display: flex;
    justify-content: space-between;
  }

  .container-inbox {
    margin: 59px 60px 0 0;
  }

  .container_input {
    width: 394px;
  }

  .container_input_button {
    width: 106px;
    margin-left: 31px;
  }

  .container_total_links {
    display: flex;
  }

  .container_links_from_page {
    margin-right: 123px;
  }

  .container-copyright {
    margin-top: 70px;
  }

  .container_adjuste_color_footer {
    height: 700px;
    margin-top: -670px;
  }
}

/*************** MEDIA ONLY 144O **************/

@media only screen and (min-width: 1440px) {
  body {
    background-image: url("image/bg_why_desktop.png");
  }

  .container_total {
    max-width: 1227px;
    margin: 0 auto;
  }

  .container_title_main_content {
    font-size: 120px;
    width: 850px;
  }

  .container_caption_main_content {
    width: 400px;
    text-align: center;
  }

  .container_imagetwo_main_content {
    display: none;
  }

  .image_main_content_desktop {
    display: flex;
    justify-content: space-between;
    margin: -142px 0 0 0;
  }

  .container_image_subtitle_desktop {
    display: block;
  }

  .container_image_subtitle_tablet {
    display: none;
  }

  .container_image_detail_twocake {
    width: 164px;
    height: 232px;
    background-image: url("image/image_detail_twocake_why_desktop.png");
    background-repeat: no-repeat;
    margin: 0 0 0 800px;
  }

  .container_image_twocake {
    position: absolute;
    margin: 100px 0 0 1070px;
  }

  .container_invert_information {
    flex-direction: row;
  }

  .container_information_one {
    margin: -400px 0 0 0;
  }

  .container_information_two {
    margin: -69px 0 0 -86px;
  }

  .container_information_three {
    margin: -350px 0 0 172px;
  }

  .container_text_information {
    width: 400px;
  }

  .container_title_message_shop {
    font-size: 120px;
    line-height: 127px;
  }

  .container_unicorn_mobile {
    display: none;
  }

  .container_cake_mobile {
    display: none;
  }

  .container_unicorn_desktop {
    display: block;
    position: absolute;
    margin: -24px 0 0 779px;
  }

  .container_cake_desktop {
    display: block;
    position: absolute;
    margin: -46px 0 0 396px;
  }

  .container_total_footer {
  }

  .container_total_links {
    display: flex;
  }

  .container_links_useful {
    display: none;
  }

  .container_links_from_page {
    margin: 0 310px 0 0;
  }

  .container_total_links {
    justify-content: center;
    margin: -200px 230px 0 0;
  }

  .container-copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .container_copyright_1440 {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
  }

  .container_copyright_1440 a {
    color: #fdefd1;
    margin: 0 60px;
    text-decoration: none;
  }

  .container_adjuste_color_footer {
    height: 100px;
    margin-top: -10px;
  }
}
