body {
  margin: 0;
  padding: 0;
  font-family: "Wendy One";
  background: #f7cfda;
  background-image: url("image/bg_mobile.png");
}

a {
  color: #642c99;
}

p {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background: #f7cfda;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fcefd2;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-family: lato;
  font-weight: bold;
  font-size: 10px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 21px 18px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  display: block;
  position: relative;
  transition: background 0.2s ease-out;
  width: 23px;
  height: 4px;
  border-radius: 10px;
  background-color: #642c99;
  margin-top: 1px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  border-radius: 10px;
  background-color: #642c99;
}

.header .menu-icon .navicon:before {
  top: 5px;
  width: 15px;
  margin-top: 1px;
}

.header .menu-icon .navicon:after {
  top: -5px;
  width: 30px;
  height: 4px;
  margin-top: -1px;
  border-radius: 10px;
  background-color: #642c99;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  width: 20px;
  margin-top: -1px;
  background-color: #642c99;
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  width: 20px;
  background-color: #642c99;
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header .logo {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 34px;
  height: 35px;
  margin-top: 15px;
  margin-right: 24px;
  background-image: url("image/icon/shopping-car.png");
  background-repeat: no-repeat;
  text-decoration: none;
}

.number_list_shopping_car {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 11px;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: #fcefd2;
}

.header .logo:before {
  display: none;
}

/*************** CONTAINER TOTAL ****************/

.container_total {
  max-width: 337px;
  margin: 0 auto;
  padding-top: 128px;
}

/*********** CONTAINER TITLE *********/

.container_title_main_content {
  font-size: 60px;
  color: #642c99;
  line-height: 63px;
}

.container_caption_main_content {
  margin-top: 37px;
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  color: #642c99;
}

.button-shop-now {
  margin-top: 46px;
  width: 206px;
  height: 43px;
  background: #642c99;
  border-radius: 8px;
  border: none;
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #fbfac9;
}

.container_image_main_content {
}

.image_main_content_375 {
  margin-top: 47px;
}

.image_main_content_960 {
  display: none;
}

.image_main_content_1440 {
  display: none;
}

/*********** CONTAINER SUBTITLE *********/

.container_total_subtitle_content {
  margin-top: 142px;
}

.container_subtitle_content {
}

.container_title_subtitle {
  margin-top: 86px;
  font-size: 53px;
  line-height: 65px;
  color: #642c99;
}

.container_text_subtitle {
  margin-top: 43px;
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  color: #642c99;
}

.button_why_miss_cupcake {
  margin-top: 41px;
  width: 206px;
  height: 43px;
  background: #642c99;
  border-radius: 8px;
  border: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #fbfac9;
}

.container-image-subtitle {
  display: flex;
  justify-content: center;
}

.image_subtitle_375 {
  margin-top: 68px;
}

.image_subtitle_960 {
  display: none;
}

.image_subtitle_1440 {
  display: none;
}

/****** CONTAINER TEXT LITLE SWEET ******/

.container_text_litle_sweet {
  margin-top: 133px;
  font-size: 52px;
  line-height: 65px;
  color: #642c99;
  width: 400px;
}

/****** CONTAINER CAKE SHOPPING ******/

.container_total_cake_shopping {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container_cake_shopping {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 133px;
  width: 336px;
}

.container_adjuste_image_cake_shopping {
  display: flex;
  justify-content: center;
}

.container_text_cake_shopping {
  margin-top: 53px;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  color: #642c99;
}

.container_text_description_cake {
  margin-top: 45px;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #642c99;
}

.container_total_select-button {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.container_select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 43px;
  border: 2px solid #642c99;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 43px;
  background: #642c99;
  border-radius: 8px;
  font-family: Lato;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fbfac9;
  cursor: pointer;
}

/****** CONTAINER OUR STORY ******/

.container_total_our_story {
  margin-top: 229px;
  border-radius: 15px;
}

.container_total_text_our_story {
}

.container_title_our_story {
  font-size: 52px;
  line-height: 65px;
  color: #642c99;
}

.container_text_our_story {
  margin-top: 45px;
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  color: #642c99;
}

.container_button_our_story {
  width: 206px;
  height: 43px;
  background: #642c99;
  border: 1px solid #fdefd1;
  border-radius: 8px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #fbfac9;
  margin-top: 44px;
  cursor: pointer;
}

.container_image_our_story {
  margin-top: 74px;
}

.image_our_story_960 {
  display: none;
}

.image_our_story_1440 {
  display: none;
}

/****** CONTAINER FOOTER ******/

.container_total_footer {
}

.container_title_footer {
  margin-top: 54px;
  font-size: 32px;
  line-height: 34px;
  color: #fdefd1;
}

.container-inbox {
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #fdefd1;
  margin-top: 59px;
}

.container_input {
  width: 335px;
  height: 43px;
  border: 2px solid #fdefd1;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  padding-left: 24px;
  margin-top: 29px;
}

::-webkit-input-placeholder {
  color: #fdefd1;
}

.container_input_button {
  width: 335px;
  height: 43px;
  background: #fdefd1;
  border-radius: 8px;
  border: none;
  font-family: Lato;
  font-size: 16px;
  text-transform: uppercase;
  color: #642c99;
  margin-top: 29px;
  margin-bottom: 70px;
}

.container_links_from_page a {
  display: flex;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  margin-top: 39px;
  color: #fdefd1;
  text-decoration: none;
}

.container_links_useful a {
  display: flex;
  color: #fdefd1;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  margin-top: 39px;
  text-decoration: none;
}

.container-copyright {
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 88px;
  color: #fdefd1;
}

.container_copyright_1440 {
  display: none;
}

/************ CONTAINER ADJUSTE FOOTER ***********/

.container_adjuste_color_footer {
  height: 1246px;
  margin-top: -1242px;
  background-color: rgb(93 51 148);
}

/*************** MEDIA ONLY 960 **************/

@media only screen and (min-width: 960px) {
  body {
    background-image: url("image/bg_tablet.png");
  }

  .header li {
    float: left;
  }

  .header li a {
    font-size: 18px;
    font-weight: normal;
    border: none;
  }

  .header li a:hover {
    font-weight: bold;
    font-size: 20px;
  }

  .header .menu {
    clear: none;
    float: left;
    max-height: none;
    padding-left: 46px;
  }

  .header .menu-icon {
    display: none;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #f7cfda;
  }

  .container_total {
    max-width: 828px;
    margin: 0 auto;
    padding-top: 235px;
  }

  .container_total_main_content {
    display: flex;
  }

  .container_title_main_content {
    font-size: 100px;
    line-height: 105px;
    color: #642c99;
  }

  .image_main_content_375 {
    display: none;
  }

  .image_main_content_960 {
    display: block;
  }

  .image_main_content_1440 {
    display: none;
  }

  .container_image_main_content {
    margin-top: -172px;
  }

  .container_total_subtitle_content {
    display: flex;
    flex-direction: row-reverse;
  }

  .image_subtitle_375 {
    display: none;
  }
  .image_subtitle_960 {
    display: block;
  }

  .container_title_subtitle {
    font-size: 70px;
    color: #642c99;
  }

  .container-image-subtitle {
    display: flex;
    justify-content: center;
    margin-right: 59px;
  }

  .container_text_litle_sweet {
    margin-top: 343px;
  }

  .container_total_cake_shopping {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
  }

  .container_cake_shopping {
    display: flex;
    justify-content: inherit;
    flex-direction: column;
    margin-top: 133px;
    width: 336px;
  }

  section.container_cake_shopping img {
    max-height: 192px;
  }

  .container_title_our_story {
    font-size: 52px;
    line-height: 65px;
    color: #642c99;
    width: 300px;
  }

  .container_text_our_story {
    width: 500px;
    margin-top: 45px;
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    color: #642c99;
  }

  .container_total_our_story {
    display: flex;
    margin-top: 229px;
    border-radius: 15px;
  }

  .container_image_our_story {
    margin-top: 218px;
  }

  .image_our_story_375 {
    display: none;
  }

  .image_our_story_960 {
    display: block;
  }
  .image_our_story_1440 {
    display: none;
  }

  .container_total_title_footer {
    display: flex;
    justify-content: space-between;
  }

  .container_input {
    width: 394px;
  }

  .container_input_button {
    width: 106px;
    margin-left: 31px;
  }

  .container_total_links {
    display: flex;
  }

  .container_links_from_page {
    margin-right: 123px;
  }

  .container-copyright {
    margin-top: 70px;
  }

  .container_adjuste_color_footer {
    height: 800px;
    margin-top: -670px;
  }
}

/*************** MEDIA ONLY 144O **************/

@media only screen and (min-width: 1440px) {
  body {
    background-image: url("image/bg_desktop.png");
  }



  .container_total {
    max-width: 1224px;
    margin: 0 auto;
  }

  .container_title_main_content {
    font-size: 120px;
    line-height: 127px;
    width: 600px;
  }

  .container_caption_main_content {
    width: 600px;
  }

  .image_main_content_960 {
    display: none;
  }

  .image_main_content_1440 {
    display: block;
    margin-top: 14px;
  }

  .container_total_subtitle_content {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 144px;
  }

  .image_subtitle_960 {
    display: none;
  }

  .image_subtitle_1440 {
    display: block;
  }

  .container-image-subtitle {
    margin-right: 140px;
  }

  .container_title_subtitle {
    font-size: 90px;
    width: 680px;
  }

  .container_text_subtitle {
    width: 600px;
  }

  .container_text_litle_sweet {
    margin-top: 456px;
    font-size: 90px;
    line-height: 95px;
    width: 700px;
  }

  .container_total_cake_shopping {
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px 15px;
  }

  .container_cake_shopping {
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 135px;
    margin: 30px;
  }

  .container_total_our_story {
    margin-top: 479px;
  }

  .container_title_our_story {
    font-size: 120px;
    line-height: 65px;
    width: 500px;
  }

  .container_text_our_story {
    margin-top: 67px;
  }

  .image_our_story_375 {
    display: none;
  }

  .image_our_story_960 {
    display: none;
  }

  .image_our_story_1440 {
    display: block;
  }

  .container_image_our_story {
    margin: 0 0 0 128px;
  }

  .container_total_footer {
    margin-top: 172px;
  }

  .container_total_links {
    display: flex;
  }

  .container_links_useful {
    display: none;
  }

  .container_total_links {
    justify-content: center;
    margin: -200px 230px 0 0;
  }

  .container-copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .container_copyright_1440 {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
  }

  .container_copyright_1440 a {
    color: #fdefd1;
    margin: 0 60px;
    text-decoration: none;
  }
}
